body {
	color: white;
	background: #28282f;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

hr {

    size: 2;
    width: 95%;
    color: "white";
}
h1 {
	color: #ab1c40;
}
a {
    color: #e7c137;
}
